* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(23, 25, 35);
}
strong {
    font-weight: bold;
}
/*Estilos para la barra de navegación*/
header {
    width: 100%;
    height: 5em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid rgba(255,255,255, .2);

}
.logo{
    display: flex;
    align-items: center;
    height: 80%;
    margin-left: 3em;
    gap: 1em;
}
.logo a {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 100%;
}
.logo p{
    color: rgb(227, 227, 229);
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
}
.menu__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
    gap: 2em;
}

.menu__nav li {
    width: auto;
    padding: 15px 20px;
    border-radius: 20px;
    white-space: nowrap;
    color: rgb(227, 227, 229);
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    user-select: none;
}

.menu__nav li:hover {
    background-color: rgba(111, 124, 221, .5);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 10% 5%;
}
/*ESTILOS PARA TODAS LAS SECCIONES*/
#seccion__sobremi, #seccion__proyectos {
    display: flex;
    align-items: center;
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    max-width: 100em;
    margin: 5% 0;
}
.descripcion__de__presentacion h2, .descripcion__sobremi p, .boton__proyectos__principal a{
    color: rgb(227, 227, 229);
}

/*Estilos para contenedor de redes*/
.contenedor__redes {
    position: fixed;
    background-color: rgb(227, 227, 229);;
    left: 0;
    top: 30%;
    box-shadow: 5px 5px 30px -15px rgba(255, 255, 255, .9);
    border-radius: 0px 20px 20px 0px;
}

.contenedor__redes ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    gap: 3em;
}

.contenedor__redes ul li {
    position: relative;
    transition: all .3s ease-in-out;
}

.contenedor__redes li span {
    position: absolute;
    top: 5px;
    left: 2px;
    color: white;
    font-size: .8em;
}
.contenedor__redes li:hover{
    color: rgba(201, 122, 47, .9);
}
/*Estilos para la Sección PRESENTACIÓN*/
#seccion__principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
    height: 80vh;
    max-width: 100em;
}
.contenedor__presentacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion__de__presentacion {
    max-width: 55em;
}
.descripcion__de__presentacion h1 span{
    color: rgb(227, 227, 229);;
}
.descripcion__de__presentacion h1 {
    font-size: 3.5rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    padding: 20px;
    color: rgb(111, 124, 221);
}

.descripcion__de__presentacion h2{
    padding: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.contenedor__imagen__presentacion {
    min-width: 25em;
    height: 25em;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: url(../Images/fondoImagenSobreMi.gif);
    background-size: cover;
    background-position: bottom right;
    overflow: hidden;
    transition: all .5s;
}

.contenedor__imagen__presentacion img {
    height: 108%;
    filter: grayscale(40%) drop-shadow(-20px 50px 40px rgb(159, 80, 39)) drop-shadow(30px 50px 60px rgb(111, 124, 221));
}

.contenedor__imagen__presentacion:hover {
    filter:blur(2px)
}

.boton__proyectos__principal{
    position: absolute;
    bottom: 8em;
    width: 20em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 122, 47, .9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255, .5);
    transition: all .4s;
}
.boton__proyectos__principal:hover{
    background-color: rgba(111, 124, 221, .9);

}
.boton__proyectos__principal a{
    font-size: 1.5rem;
}
/*Estilos para la Sección SOBRE MI  */

.contenedor__sobremi{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.descripcion__sobremi {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    width: 35em;
    gap: 3em;
}
.descripcion__sobremi h3{
    color: rgb(111, 124, 221);
    align-self: flex-start;
    font-size: 2rem;
}
.descripcion__sobremi p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.contenedor__habilidades {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.habilidades__tecnicas {
    display: flex;
    flex-direction: column;
    width: 25em;
    padding: 20px;
    border-radius: 25px;
    gap: 3em;
    background-color: rgba(255, 255, 255, .1);
}

.habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}
.habilidades__tecnicas h3{
    color: rgb(201, 122, 47);
    padding: 5px;
    font-size: 1.5rem;
    align-self: flex-start;
}

.habilidades__item {
    width: 6em;
}

/*Estilos para la sección PROYECTOS*/
