@import url("normalize.css");
@import url("header.css");
@import url("contenedor-redes.css");
@import url("seccion-presentacion.css");
@import url("seccion-sobremi.css");
@import url("seccion-proyectos.css");
@import url("seccion-formacion.css");
@import url("seccion-hobbies.css");
@import url("seccion-contacto.css");
@import url("particulas.css");
@import url("footer.css");

html{
    scroll-behavior: smooth;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*Esto es para que cuando se toque el elemento en versión movil no tenga un resaltado azúl*/
}
body{
    background-color: rgb(23, 25, 35);
    font-family: "Montserrat", sans-serif;
}
strong {
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 10% 5%;
}
/*ESTILOS PARA TODAS LAS SECCIONES*/
#seccion__sobremi, #seccion__proyectos, #seccion__formacion, #seccion__contacto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 4em;
    z-index: 10;
}
.descripcion__de__presentacion h2, .descripcion__sobremi p, .boton__proyectos__principal a, .proyecto__descripcion p, .hobbies__descripcion p, .formulario__item label, .formacion__descripcion p, .contenedor__footer{
    color: rgb(227, 227, 229);
}
.seccion__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.seccion__titulo h3{
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: rgba(201, 122, 47, .6);
    -webkit-background-clip: text;
    /* background-clip: text;
    color: transparent; */
    opacity: .3;
    z-index: 2;
    margin-bottom: 1em;
}
/*Animaciones*/
@keyframes mostrar{
    from{
        opacity: 0;
        transform: translateY(100%);
        scale: .5;
    }
    to{
        opacity: 1;
        transform: translateY(0%);
        scale: 1;
    }
}
@keyframes entradaDerecha{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes entradaIzquierda{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
/*Animaciones para la sección hobbies*/
@keyframes agrandarContenedor{
    from{
        height: 0px;
    }
    to{
        height: 336px;
    }
}
@keyframes achicarContenedor{
    from{
        height: 336px;
    }
    to{
        height: 0px;
    }
}
@keyframes fadeInAbajo{
    from{
        opacity: 0;
        transform: translateY(-50%);
    }
    to{
        transform: translateY(0%);
        opacity: .3;
    }
}
@keyframes fadeOutArriba{
    from{
        opacity: .3;
        transform: translateY(0%);
    }
    to{
        transform: translateY(-50%);
        opacity: 0;
    }
}
@keyframes fadeInDerecha{
    from{
        opacity: 0;
        transform: translateX(200%);
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes fadeOutIzquierda{
    from{
        opacity: 1;
        transform: translateX(0%);
    }
    to{
        transform: translateX(-200%);
        opacity: 0;
    }
}

/*Media Querys*/

@media only screen and (max-width: 768px){
    .seccion__titulo h3{
        font-size: 1.5rem;
    }
    @keyframes agrandarContenedor{
    from{
        height: 0px;
    }
    to{
        height: 368px;
    }
}
@keyframes achicarContenedor{
    from{
        height: 368px;
    }
    to{
        height: 0px;
    }
}
}