#seccion__contacto{
    align-items: center;
}
.contenedor__contacto{
    position: relative;
    width: auto;
    justify-content: center;
    min-height: 40em;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 20px;
    padding: 3em;
}

.contenedor__contacto::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/montañasBosque.gif");
    background-size: cover; 
    border-radius: 20px;
    z-index: -1;
    opacity: .2;
}

.descripcion__contacto{
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 25em;
    color: rgb(227, 227, 229);
}
.descripcion__contacto h3{
    font-size: 2rem;
    color: rgb(111, 124, 221);
}
.descripcion__contacto p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;
}
.descripcion__contacto span{
    color: rgb(201, 122, 47);
}
.descripcion__contacto a{
    color: rgb(201, 122, 47);
    transition: all .3s;
}
.descripcion__contacto a:hover{
    color: rgba(111, 124, 221);
}
/* estilos para el formulario */
#formulario{
    min-width: 24em;
    max-height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.formulario__item{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.campo__label{
    padding: 0 0 .8em 5px;
}
.campo__input{
    position: relative;
    display: flex;
    align-items: center;
}
.campo__input input{
    width: 100%;
    padding: 13px 15px;
    border-radius: 15px;
    background-color: rgba(227, 227, 229, .8);
    outline-color: rgb(111, 124, 221);
}

textarea{
    width: 100%;
    height: 10em;
    resize: none;
    background-color: rgba(227, 227, 229, .8);
    border-radius: 15px;
    padding: 1em;
    outline-color: rgb(111, 124, 221);
}
.contenedor__contacto button{
    padding: .9em 4em;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(201, 122, 47);
    color: rgb(227, 227, 229);
}

/*Clases para validación de inputs*/
.mensaje__error{
    position: relative;
    font-size: .9rem;
    padding: 5px ;
    color: rgb(201, 122, 47);
}

.campo__obligatorio{
    position: absolute;
    padding-left: 5px;
    color: rgb(201, 122, 47);
    display: none;
}

.campo__input__i{
    position: absolute;
    right: -35px;
    display: none;
}

.campo__textArea__i{
    position: absolute;
    top: 12px;
    right: -35px;
    display:none;
}
.input__correcto{
    display: block;
    color: rgb(111, 124, 221);
}
.input__incorrecto{
    display: block;
    color: rgb(201, 122, 47);
}

/* 
.contenedor__contacto{
    view-timeline-name: --mostrar;
    view-timeline-axis: block;
    animation-timeline: --mostrar;
    animation-name: mostrar;
    animation-duration: 2s;
    animation-fill-mode: both; 
    animation-range: entry 0% cover 40%;
} */

@media only screen and (max-width: 768px){

    .contenedor__contacto{
        width: 100%;
        height: auto;
        flex-direction:  column;
        padding: 25px;
        gap: 1.5em;
    }
    .descripcion__contacto{
        gap: 1.2em;
        width: 100%;
    }
    .descripcion__contacto h3{
        text-align: center;
        font-size: 1.5rem; ;
    }
    .descripcion__contacto p{
        font-size: 1rem;
    }
    .descripcion__contacto span p {
        word-wrap: break-word
    }
    #formulario{
        align-items: center;
        min-width: 100%;
    }
    .formulario__item{
        width: 95%
    }
    .contenedor__contacto button{
        padding: .8em 2em;
        margin-top: .4em;
    }
    /*Iconos de input correcto e incorrecto*/
    .campo__input__i{
        scale: .8;
        right: -25px;     
    }
    .campo__textArea__i{
        scale: .8;
        right: -25px;     
    }
}