/*Estilos para la Sección PRESENTACIÓN*/
#seccion__presentacion {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    z-index: 10;
}

.contenedor__presentacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 4em 0;
    gap: 2em;
}

.descripcion__de__presentacion {
    width: 55em;
    max-width: 55em;
}

.descripcion__de__presentacion h1 span {
    color: rgb(227, 227, 229);
}

.descripcion__de__presentacion h1 {
    font-size: 3.5rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    padding: 20px;
    color: rgb(111, 124, 221);
}

.descripcion__de__presentacion h2 {
    padding: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    text-wrap: wrap;
}

.contenedor__imagen__presentacion {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: url(../Images/fondoImagenSobreMi.gif);
    background-size: cover;
    background-position: bottom right;
    overflow: hidden;
    transition: all .5s;
}

.contenedor__imagen__presentacion img {
    scale: .8;
    transform: translateY(-4em);
    filter: grayscale(40%) drop-shadow(-20px 30px 40px rgb(159, 80, 39)) drop-shadow(10px 30px 40px rgb(111, 124, 221));
}

.contenedor__imagen__presentacion:hover {
    filter: blur(2px)
}

.boton__proyectos__principal {
    padding: .9em 2.6em;
    font-size: 1.3rem;
    color: rgb(227, 227, 229);
    background-color: rgba(201, 122, 47, .7);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.boton__proyectos__principal:hover {
    background-color: rgba(201, 122, 47, .8);
    transform: translateY(-2px);
}

/*MEDIA QUERYS*/
@media only screen and (max-width: 768px) {
    #seccion__presentacion {
        justify-content: center;
        gap: 4em;
    }

    .contenedor__presentacion {
        flex-direction: column;
        gap: 4em;
        margin: 0;
    }

    .descripcion__de__presentacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3em;
    }

    .descripcion__de__presentacion h1 {
        font-size: 2.2em;
        padding: 0;
        margin: 0;
    }

    .descripcion__de__presentacion h2 {
        font-size: 1rem;
        padding: 0;
    }

    .contenedor__imagen__presentacion {
        width: 15em;
        height: 15em;
    }

    .contenedor__imagen__presentacion img {
        transform: translateY(-2em);
    }

    .boton__proyectos__principal {
        position: relative;
        padding: .6em 1.6em;

    }
}