/*Estilos para la sección PROYECTOS*/
.contenedor__proyectos{
    width: 100%;
    max-width: 80em;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    overflow: hidden;
    padding: 3em 0 0;
    margin-bottom: 4em;
}
.proyecto__item{
    width: 100%;
    max-width: 80em;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5em;
}
/*Estilos para la imagen de previsualización*/
.proyecto__imagen{
    width: 30em;
    height: 25em;
    padding: 15px;
}
.proyecto__imagen img{
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, .5));
    width: 100%;
}

/*Estilos para toda la información y botones*/
.proyecto__info{
    display: flex;
    flex-direction: column;
    width: 30em;
    margin-top: 1em;
}
.proyecto__info h3{
    color: rgb(111, 124, 221);
    font-size: 1.5rem;
}
.proyecto__info p{
    font-size: 1.2rem;
}
.proyecto__info p:nth-child(2){
    text-align: justify;
    padding: 2em 0;
    line-height: 2rem;
}
.proyecto__botones{
    display: flex;
    gap: 2em;
}
.proyecto__botones a{
    padding: .9em 1.2em;
    border-radius: 10px;
    background-color: rgba(201, 122, 47, .8);
    color: rgb(227, 227, 229);
    text-decoration: none;
    font-size: 1rem;
}
.proyecto__botones a:hover{
    background-color: rgba(201, 122, 47, .9);
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, .5));
}

@media only screen and (max-width: 768px) {
    .contenedor__proyectos {
        gap: 4em;
    }
    .proyecto__imagen{
        width: 100%;
        height: auto;
    }
    .proyecto__item{
        flex-direction: column;
        gap: 2em;
    }
    .proyecto__info{
        width: 100%;
    }
    .proyecto__descripcion p{
    font-size: 1rem;
    }
    .proyecto__botones{
        text-align: center;
        justify-content: center;
    }
    .proyecto__botones a{
        font-size: .9rem;
    }
    /* .contenedor__proyectos{
        gap: 4em;
    }
    .proyecto__item{
        flex-direction: column;
        gap: 4em;
    }
    .proyecto__imagen{
        width: 100%;
        height: 20em;
    }
    .proyecto__info{
        width: 100%;
    } */
}

