.contenedor__hobbies {
    position: relative;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    scale: .75;
}

.hobbies__item {
    position: relative;
    width: 15em;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 10px 10px 25px 25px;
    background-color: rgba(255, 255, 255, .1);
    overflow: hidden;
    margin: 0 3em 2em 0em;
}
.animacion__agrandarContenedor{
    animation: agrandarContenedor .5s ease;
}
.animacion__achicarContenedor{
    animation: achicarContenedor 1s ease;
}
.animacion__fadeOutArriba{
    animation: fadeOutArriba 1s ease;
}
.animacion__fadeInAbajo{
    animation: fadeInAbajo 1s ease;
}
.animacion__fadeInDerecha{
    animation: fadeInDerecha 1s ease;
}
.animacion__fadeOutIzquierda{
    animation: fadeOutIzquierda 1s ease;
}

.hobbies__imagen {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    transition: all .5s;
}

.hobbies__imagen img {
    width: 70%;
    filter: drop-shadow(0 0 2px rgba(227, 227, 229, .5));
    transition: all .5s;
}
.hobbies__descripcion {
    height: 15em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0 25px;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: -12em;
    transition: all .5s ease;
}

.hobbies__descripcion:hover {
    transform: translateY(-12em);
    justify-content: center;
}
.hobbies__descripcion div:nth-child(1){
    padding: 15px 0;
}
.hobbies__descripcion h3 {
    color: rgba(111, 124, 221, .8);
    font-size: 1.3rem;
}

.hobbies__descripcion p {
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
}

/*Animaciones*/
